*.swp
.bash_history
.lesshst
.viminfo
.kube
.minikube
.atom
.bash_logout
.cache
.config
.cshrc
.dbshell
.dbus
.docker
.eclipse
.gem
.gstreamer-0.10
.irssi
.kchmviewer
.local
.m2
.mongorc.js
.mozilla
.mplayer
.node_repl_history
.npm
.p2
.pdfedit
.pki
.renoise
.ssh
.subversion
.swt
.tcshrc
.tooling
.xauth*
.vmware
Downloads
Printer
Software
X11
anaconda-ks.cfg
initial-setup-ks.cfg
bin
